.details-slider-img {
    padding-left: 200px;
    height: 250px ;
}

.link {
    position: relative;
    display: inherit;
    padding: 10px 15px;
    margin-left: 5px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #e91e63
}

.link.active {
    padding: 10px 15px;
    border: 1px solid #dee2e6;
    background-color: #e91e63;
    color: #fff;
}

.link:hover {
    background-color: #e91e63;
    color: #fff;
    box-shadow: none
}
